interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.obis.org/v3/checklist/newest?scientificname=Mola+mola
  response:
    body:
      string: '{"results":[{"scientificName":"Mola mola","scientificNameAuthorship":"(Linnaeus,
        1758)","taxonID":127405,"bold_id":29489,"ncbi_id":94237,"taxonRank":"Species","taxonomicStatus":"accepted","acceptedNameUsage":"Mola
        mola","acceptedNameUsageID":127405,"is_marine":true,"is_brackish":false,"is_freshwater":false,"is_terrestrial":false,"kingdom":"Animalia","phylum":"Chordata","subphylum":"Vertebrata","infraphylum":"Gnathostomata","class":"Actinopteri","subclass":"Teleostei","order":"Tetraodontiformes","family":"Molidae","genus":"Mola","species":"Mola
        mola","kingdomid":2,"phylumid":1821,"subphylumid":146419,"infraphylumid":1828,"classid":843664,"subclassid":293496,"orderid":10332,"familyid":125609,"genusid":126233,"speciesid":127405,"category":"VU","records":21115,"start_year":1758}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"313-pquMKz2SG/+dRXXA0RLxNggt5Vs"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.obis.org/v3/checklist/newest?scientificname=Mola+mola
  response:
    body:
      string: '{"results":[{"scientificName":"Mola mola","scientificNameAuthorship":"(Linnaeus,
        1758)","taxonID":127405,"bold_id":29489,"ncbi_id":94237,"taxonRank":"Species","taxonomicStatus":"accepted","acceptedNameUsage":"Mola
        mola","acceptedNameUsageID":127405,"is_marine":true,"is_brackish":false,"is_freshwater":false,"is_terrestrial":false,"kingdom":"Animalia","phylum":"Chordata","subphylum":"Vertebrata","infraphylum":"Gnathostomata","class":"Actinopteri","subclass":"Teleostei","order":"Tetraodontiformes","family":"Molidae","genus":"Mola","species":"Mola
        mola","kingdomid":2,"phylumid":1821,"subphylumid":146419,"infraphylumid":1828,"classid":843664,"subclassid":293496,"orderid":10332,"familyid":125609,"genusid":126233,"speciesid":127405,"category":"VU","records":21115,"start_year":1758}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"313-pquMKz2SG/+dRXXA0RLxNggt5Vs"
    status:
      code: 200
      message: OK
version: 1
